<%- include('partials/_header') %>
<main id='mainSection'>
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a class="border-shadow" href='/add'><span class="text-gradient">New User</span></a>
        </div>

        <form method="post" action="/">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tbody>
                <% users.forEach(function(data){ %>
                    <tr>
                        <td><%= users.indexOf(data) + 1 %></td>
                        <td><%= data.name %></td>
                        <td><%= data.email %></td>
                        <td><% if(data.gender){ %>Male<%}else{%>Female<%}%></td>
                        <td><% if(data.status){ %>Active<%}else{%>Inactive<%}%></td>
                        <td>
                            <a class="btn border-shadow update" href="/update/<%= data._id %>"><span>Edit</span></a>
                            <a class="btn border-shadow delete" href="/api/users/delete/<%= data._id %>" ><span>Del</span></a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
                </thead>
            </table>
        </form>
    </div>
</main>
<%- include('partials/_footer') %>